header {
  background-color: #F2CF66
}

<<<<<<< HEAD=======>>>>>>>cf34327887125c316c4ebe90cc5e95fa816b2338 .landing img {
  height: 100%;
  width: auto;
}

.main img {
  height: 400px;
  width: 600px;
}

<<<<<<< HEAD=======>>>>>>>cf34327887125c316c4ebe90cc5e95fa816b2338 .carousel {
  width: 500px;
  margin: auto;
}

.carousel-inner>.item>img {
  margin: auto;
  width: 100%;
  height: 500px;
}

/*XS  (phones)*/

@media(max-width:767px) {
  .landing img {
    height: 100px;
    width: 100px
  }
  .main img {
    height: 300px;
    width: 100%;
  }
  #button {
    right: 10px;
    bottom: 10px;
    position: fixed;
    z-index: 1;
  }

}

/*s-m  (tablets)*/

@media(min-width:768px) {
  .main p {
    font size: 16px;
  }
  .landing img {
    height: 100%;
    width: auto;
  }
  /*.landing img {height:400px; width:400px}*/
  #button {
    right: 25px;
    bottom: 25px;
    position: fixed;
    z-index: 1;
  }

}

/*m-lg  (laptops-desktops)*/

@media(min-width:992px) {

  .carousel-caption {
    background-color: black;

  }
}
